/*globals*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: #0B1C21;
    color: #45A29E;
    font-family: 'Libre Baskerville', serif;
}

.navbar{
    background: #0B1C21;
    height: 100%;
}

/*for icons*/
.far {
    font-size: 2.5em;
}

.navbar-brand {
    color: #45A29E;
}

.nav-link {
    color: #45A29E;
}

/*Heading*/
.jumbotron {
    height: 100vh;
    margin: auto;
    background-color: transparent;
    font-size: 2.5em;
}

.display-6 {
    font-size: 2.5em;
}

/*Body*/
.aboutme {
    height: 100vh;
}

.inside {
    padding-top: 100px;
}

.topblock {
    height: 100vh;
}

.midblock {
    height: 100vh;
}

.botblock{
    height: 100vh;
}


/*
#0B0C10
#1F2833
#C5C6C7
#66FCF1
#45A29E
*/